* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

body {
  text-align: center;
  background-color: rgb(255, 255, 255);
}
.container {
  display: flex;
  width: 100vw;
  height: 80vh;
  align-items: center;
  justify-content: space-around;
}

#output,
#input {
  width: 40%;
  height: 70%;
  border-radius: 5%;
  border-style: none;
  font-size: small;
  color: black;
  padding: 40px;
  /* background-color: rgba(121, 121, 121, 0.438); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input:active {
  border-style: none;
  background-color: rgba(121, 121, 121, 0.438);
}

button {
  padding: 1% 4%;
}

@media screen and (max-width: 420px) {
  .container {
    flex-direction: column;
  }

  button {
    margin-top: 4%;
  }
}

.creditos {
  display: flex;
  margin: 2rem;
}
